/* PRIVATE EVENTS Section */

.events {
    position: relative;
    width:100%;
    height: 800px;
    background-image: url(../images/background_img_one.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
}

.events h2 {
        position: absolute;
        width:232px;
        margin: 60px 50% 0px 50%;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: white;
        letter-spacing: 10px;
        transform: translate(-50%);
}

.events__main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.events__yellow_box_one{
    position: absolute;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    top:50%;
    transform: translateY(-50%);
    right:72%;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 4;
}

.events__yellow_box_two{
    position: absolute;
    width: 250px;
    height: 250px;
    top:50%;
    transform: translateY(-50%);
    left:72%;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 4;
}

.events__left_image_container{
    background-image: url(../images/weddings.png);
    position: relative;
    width:475px;
    right:3%;
    background-repeat: no-repeat;
    border-radius: 5px;
    z-index: 1;
}

.events__left_side_text_container{
    position: relative;
    float: right;
    height:475px;
    width: 10%;
    background: #000000;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
}

.events__left_side_text_container span{
    font-family: TRAHO2;
    font-size: 24px;
    line-height: 12px;
    color: white;
    writing-mode: vertical-rl;
    padding-top: 30px;
    letter-spacing: 1px;

}

.events__right_image_container{
    background-image: url(../images/parties.png);
    position: relative;
    width:475px;
    left:3%;
    background-repeat: no-repeat;
    border-radius: 5px;
    z-index: 1;
    margin-left: 55px;
}

.events__right_side_text_container{
    position: relative;
    float: left;
    height:475px;
    width: 10%;
    background: #000000;
    border-radius: 0px 5px 5px 0px;
    transform: rotate(180deg);
    text-align: center;
}

.events__right_side_text_container span{
    font-family: TRAHO2;
    font-size: 24px;
    line-height: 12px;
    color: white;
    writing-mode: vertical-rl;
    padding-top: 30px;
    letter-spacing: 1px;
}

.events__first_for_line_container{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 20%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.events__second_for_line_container{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0px;
    left:20%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.events__third_for_line_container{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0px;
    left: 50%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.events__fourth_for_line_container{
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0px;
    left:80%;
}

.events__footer_container{
    position: absolute;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.7);
    bottom: 50px;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%);
}

@media only screen and (max-width:1330px){

    .events__left_image_container,.events__right_image_container{ 
        background-size: cover;
        width:375px;
        height: 375px;
    }

    .events__yellow_box_one,.events__yellow_box_two{
        width: 200px;
        height: 200px;
    }

    .events__left_side_text_container,.events__right_side_text_container{
        height:375px;
    }

}

@media only screen and (max-width:1200px){

    .events__yellow_box_one,.events__yellow_box_two{
        width: 170px;
        height: 170px;
    }

}

@media only screen and (max-width:1024px){

    .events__yellow_box_two,.events__yellow_box_two{
        width: 170px;
        height: 170px;
    }

    .events__right_image_container{ 
        left:1%;
    }

    .events__left_image_container{
        right:1%
    }

}

 @media only screen and (max-width:970px){

    .events {
        height: 1100px;
    }

    .events__main_container{
         flex-direction: column;
    }

    .events__left_image_container{
        margin-bottom: 50px;
     }

    .events__right_image_container{
        margin-left: 0px;
     }

    }

@media only screen and (max-width:550px){

    .events {
        height: 1000px;
    }

     .events__left_image_container, .events__right_image_container{ 
        background-size: cover;
        width:325px;
        height: 325px;
    }

    .events__left_side_text_container, .events__right_side_text_container{
        height:325px;
    }
    
    .events__yellow_box_one,.events__yellow_box_two{
        width: 150px;
        height: 150px;
        border: 15px solid #E8C300;
    }
}

@media only screen and (max-width:480px){

     .events {
         height: 900px;
    }

    .events__left_image_container, .events__right_image_container{ 
         width:275px;
         height: 275px;
     }

    .events__right_image_container{
        right: 5%;
    }

    .events_container .left_image_container{
         left:1%;
    }
        
    .events__yellow_box_one,.events__yellow_box_two{
        display: none;
    }

    .events__left_side_text_container, .events__right_side_text_container{
        height:275px;
     }

}