@import "reset";
@import "header&hamburger";
@import "aboutus";
@import "ourteam";
@import "booking";
@import "specialities";
@import "menu";
@import "events";
@import "galerry";
@import "contact";
@import "map&footer";

html{
    scroll-behavior: smooth;
  }


@font-face

{
    font-family: TRAHO2;
    src:url(../fonts/TRAHO2-Regular.ttf);
}





















