/* MENU Section */

.menu{
    width: 100%;
    height: 700px;
}

.menu__header_container{
    margin: 60px auto;
    width: 565px;

}

.menu__header_container h1{
    font-family: TRAHO2;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 3px;
}

.menu__line{
    position: relative;
    background: #E8C300;
    border-radius: 50px;
    width: 60px;
    height: 5px;
    margin: 15px auto 15px auto;
    z-index: 1;
}

.menu__header_container h5{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.menu__food_types_container  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    height:50px;
}

.menu__food_item  {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    height:100%;
    width:20%;
}

.menu__food_types_container span {

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.menu__food_item:last-child {
    border: none;
}

.menu__main_menu_container{
    height: 480px;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.menu__first_column,.menu__second_column,.menu__third_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.menu__menu_item{
    height:100px;
}

.menu__menu_item h1{
    font-family: TRAHO2;
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
}

.menu__menu_item p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: rgba(51, 51, 51, 0.6);
    border-radius: 5px;
}

.menu__functional_arrow_container{
    position: relative;
    margin: 0 auto;
    top: 3%;
    width: 100px;
}

.menu__functional_arrow_container .fa{
    height: 10px;
    width: 10px;
    color: #E8C300;
    float: left;
}

.menu #arrow_left{ 
    margin-right: 35px;
}

.menu #arrow_right{
    margin-left: 35px;
}

.menu__functional_arrow_container{
    display: none;
}


@media only screen and (max-width:1300px){

    .menu{
        width: 100%;
        height: 800px;
    }

    .menu__functional_arrow_container{
        display: block;
    }

    .menu__third_column{
        display: none;
    }

    .menu__main_menu_container{
        justify-content: space-around;
    }

    .menu__first_column,.menu__second_column{
        width: 40%;
    }

}

@media only screen and (max-width:1024px){

    .menu__first_column,.menu__second_column{
        width: 50%;
    }
   
    .menu__menu_item h1{
        font-size: 20px;
        line-height: 22px;
    }
    
    .menu__menu_item p{
        font-size: 10px;
        line-height: 10px;
    }

}
@media only screen and (max-width:768px){

    .menu__second_column{
        display: none;
    }

    .menu__first_column{
        width: 100%;
    }

    .menu__food_types_container{
        width:80%;
    }

}

@media only screen and (max-width:630px){

    .menu__food_types_container{
        width:100%;
        padding-bottom: 20px;
    }

    .menu__header_container{
        margin: 30px auto;
        width: 100%;
    }
    
    .menu__header_container h1{
        font-size: 32px;
    }
    
    .menu__header_container h5{
        font-size: 14px;
    }

}
@media only screen and (max-width:350px){

    .menu__menu_item h1{
        font-size: 16px;
         line-height: 20px;
    }
    
    .menu__menu_item p{
        font-size: 10px;
        line-height: 10px;
    }
  
}