/* SPECIALITIES Section */
.specialities {
    position: relative;
    width:100%;
    height: 800px;
    background-image: url(../images/background_img_one.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
}

.specialities__yellow_box{
    position: absolute;
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    top:50%;
    transform: translateY(-50%);
    right:72%;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 4;
}

.specialities__main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.specialities h2{
        position: absolute;
        width:232px;
        margin: 60px 50% 0px 50%;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: white;
        letter-spacing: 10px;
        transform: translate(-50%);
        text-align: center;
}

.specialities__image_container {
    position: relative;
    width:475px;
    height: 475px;
    left:70px;
    background-image: url(../images/special_one.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    z-index: 1;
}

.specialities__text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:40%;
    height: 80%;
    margin-left: 200px;

}
.specialities__text_container h1{
    font-family: TRAHO2;
    font-size: 36px;
    line-height: 48px;
    color: white;
    letter-spacing: 3px;
    text-align: center;
}

.specialities__line{
    position: relative;
    background: #E8C300;
    border-radius: 50px;
    width: 60px;
    height: 5px;
    margin: 15px auto 15px auto;
    z-index: 1;
}

.specialities__text_container h5{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: white;
    text-align: center;
}

.specialities__text_container p{
    font-family: Open Sans;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin-top: 20px;
}

.specialities__first_for_line_container{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 20%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.specialities__second_for_line_container{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0px;
    left:20%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.specialities__third_for_line_container{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0px;
    left: 50%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.specialities__fourth_for_line_container{
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0px;
    left:80%;
}

.specialities__functional_dots_container{
    position: absolute;
    margin: 0 auto;
    bottom:10%;
    width: 100px;
}

.specialities__dot{
    height: 10px;
    width: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius:50px;
    float: left;
}

.specialities__main_container #middle_dot{
    margin-left: 35px;
    margin-right: 35px;
    background-color: white;
}

@media only screen and (max-width:1330px){

    .specialities__image_container {
        background-size: cover;
        width:375px;
        height: 375px;
    }
    
    .specialities__text_container {
        margin-left: 150px;
    }

    .specialities__yellow_box{
        width: 200px;
        height: 200px;
    }

}

@media only screen and (max-width:1200px){

    .specialities__yellow_box{
        
        width: 170px;
        height: 170px;
      
    }
}

@media only screen and (max-width:970px){
    .specialities {
        height: 900px;
    }

    .specialities__main_container{
        flex-direction: column-reverse; 

    }

    .specialities h2{
        margin-top: 30px;
    }

    .specialities__image_container {
        width:375px;
        height: 375px;
        left:0%; 
        bottom: 5%;
    }
    
    .specialities__text_container {
        width:80%;
        height: 40%;
        margin-left: 0px;
        padding-top: 0px;
        margin-bottom:50px;
    }

    .specialities__functional_dots_container{
        bottom:5%;
    }

}
@media only screen and (max-width:550px){

    .specialities__yellow_box{
     display: none;
      
    }

    .specialities__image_container {
        width:325px;
        height: 325px;
        bottom:2%
    }

    .specialities__functional_dots_container{
        bottom:7%;
        }

}

@media only screen and (max-width:450px){

    .specialities__image_container {
        width:250px;
        height: 250px;
        top:10px;
    }

}

@media only screen and (max-width:370px){

    .specialities__image_container {
        width:180px;
        height: 180px;
        bottom:0;
        top:50px;
    }

}